<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ToDo App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/task">Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="container marketing my-5">
        <h1 class="my-5">Team Members</h1>

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img src="/static/anshika.jpeg" class="rounded-circle" width="200" height="200" alt="">

                <h2>Anshika Jaiswal</h2>
                <p>Innovative and deadline-driven Web developer with 1+ years of experience developing websites from initial concept to final, polished deliverable.
                </p>
                <p><a class="btn btn-secondary " href="https://anshika.codes">See Portfolio&raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 ">
                <img src="/static/nme.png" class="rounded-circle" width="200" height="200" alt="">
                <h2>Ashutosh Sahu</h2>
                <p>Innovative web developer with 2 years of experience building and maintaining responsive websites in the recruiting industry.

                </p>
                <p><a class="btn btn-secondary " href="https://ashu.codes">See Portfolio&raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 ">
                <img src="/static/anjali.png" class="rounded-circle" width="200" height="200" alt="">
                <h2>Anjali Yadav</h2>
                <p>I am a 3rd year student studying at United Institute of Technology, pursuing B-tech in Computer Science and Engineering.</p>
                <p><a class="btn btn-secondary " href="# ">See Portfolio &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->















        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj " crossorigin="anonymous "></script>


</body>

</html>